<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a complete solution for foodies who want to find the best restaurants">
    <meta name="theme-color" content="#ecf0f3"/>
    <title>Eat.in</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"><noscript>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"></noscript> -->
    <link rel="icon" href="./images/favicon.png">
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
    <!-- <link rel="preconnect" href="https://cdnjs.cloudflare.com"> -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <!-- DNS Prefetch for fallback -->
    <link rel="dns-prefetch" href="https://restaurant-api.dicoding.dev">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
</head>
<body>
    <header>
        <nav id="main-nav">
            <a href="#maincontent" id="skip-to-content" class="skip-link">Skip To Content</a>
            <div class="menu" id="navbar">
                <label id="drawer" class="button bars" for="check" tabindex="0" role="button"><i class="fas fa-bars"></i></label>
                <input type="checkbox" class="largerCheckbox" id="check">
                <div class="logo"><a href="#">Eat.in</a></div>
                <ul class="navbar">
                    <label class="button cancel" for="check" tabindex="0" role="button"><i class="fas fa-times"></i></label>
                    <li><a href="/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="http://www.linkedin.com/in/oktaviana-arifah" target="_blank">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="mainContent" tabindex="0">
        
    </main>
    <footer>
        <p>Eat.in All Rights Reserved</p>
    </footer>
</body>
</html>